# generic files to ignore
# backup files (*~) and vim swap file (.swp), MacOS dir file (.DS_Store)
*~
*.lock
*.DS_Store
.*.swp
*.out
*.bak
doku/KCPSM3_Manual.pdf
simulation/work/*
simulation/work
simulation/modelsim.ini
